@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  height: 10vh;
  padding: 3rem;
}

button {
  all: unset;
}

.button {
  display: flex;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  border: 1px lightgrey solid;
}
